<launch>
  <!-- Arguments -->
  <arg name="configuration_basename" default="bobac2_lds_2d.lua"/>
  <arg name="sensor_range" default="25.0"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_footprint"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="laser_topic" default="scan" />
  <!-- bobac2 and Gmapping -->
  <include file="$(find bobac2_slam)/launch/bobac2_gmapping.launch"/>
  <!-- AMCL -->
  <!--include file="$(find bobac2_navigation)/launch/amcl.launch"/-->

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <rosparam file="$(find rrt_exploration)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rrt_exploration)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rrt_exploration)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rrt_exploration)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find rrt_exploration)/param/base_local_planner_params.yaml" command="load" />  
    <rosparam file="$(find rrt_exploration)/param/move_base_params.yaml" command="load" />  
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>

    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg laser_topic)"/>
  </node>
  
  <!-- rrt_exploration -->
  <include file="$(find bobac2_slam)/launch/rrt_exploration_single.launch.xml" />
</launch>
