<launch>
  <arg name="world_name" value="$(find bobac2_description)/world/forma1.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <!--arg name="use_sim_time" value="true"/-->
  </include>

  <group ns="robot1">
  <!--param name="tf_prefix" value="robot1_tf"/-->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find bobac2_description)/urdf/bobac1.urdf.xacro ns:=robot1"/>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot1 -x -2 -y 0" output="screen" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>
	
  <group ns="robot2">
  <!--param name="tf_prefix" value="robot2_tf"/-->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find bobac2_description)/urdf/bobac1.urdf.xacro ns:=robot2"/>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot2 -x -4 -y 2" output="screen" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>

  <group ns="robot3">
  <!--param name="tf_prefix" value="robot2_tf"/-->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find bobac2_description)/urdf/bobac1.urdf.xacro ns:=robot3"/>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot3 -x -4 -y -2" output="screen" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>
  <!--node name="robot1_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map robot1/base_footprint 10" /-->
  <!--node name="robot2_tf" pkg="tf" type="static_transform_publisher" args="0 2 0 0 0 0 map robot2/odom 10" /-->

	<!--node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 robot1/odom map 100"/-->	
	<!--node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster1" args="0 -2 0 0 0 0 robot2/odom map 100"/-->	

</launch>

